<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<h1>Edit <%= @shelter.name %>'s Information</h1>

<%= form_tag("/shelters/#{@shelter.id}", method: :patch) do %>
  <%= label_tag 'Name' %>
  <%= text_field_tag :name, @shelter.name %>

  <%= label_tag 'Address' %>
  <%= text_field_tag :address, @shelter.address %>

  <%= label_tag 'City' %>
  <%= text_field_tag :city, @shelter.city %>

  <%= label_tag 'State' %>
  <%= text_field_tag :state, @shelter.state %>

  <%= label_tag 'zip' %>
  <%= text_field_tag :zip , @shelter.zip %>

  <%= submit_tag('Update Shelter Information') %>
<% end %>
