<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<h1><%= @shelter.name  %></h1>

<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>

<p>Average Review: <%= @shelter.average_review_rating.round(1) %></p>
<p>Number of Pets at this Shelter: <%= @shelter.pet_count %></p>
<p>Number of Applications on File: <%= @shelter.number_applications %></p>

<h4><%= link_to("See All Pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets") %></h4>

<h5><%= link_to("Update Shelter", "/shelters/#{@shelter.id}/edit") %></h5>
<% if @shelter.pending_pets? && (@shelter.pet_count > 0) %>
  <%= button_to("Delete Shelter", "/shelters/#{@shelter.id}", method: :delete) %>
<% end %>

<h3>Reviews</h3>
<h5><%= link_to('Add Review', "/shelters/#{@shelter.id}/reviews/new") %></h5>

<% @reviews.each do |review| %>
  <p>Title:   <%= review.title %></p>
  <p>Rating:  <%= review.rating %> / 5 </p>
  <p>Content: <%= review.content %></p>
  <p>User:    <%= review.user_name %></p>
  <% if review.image %>
    <p><%= image_tag(review.image) %></p>
  <% end %>
  <%= link_to 'Edit Review', "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %><br><br>
  <%= button_to 'Delete Review', "/shelters/#{@shelter.id}/reviews/#{review.id}", method: :delete %><br><br>
<% end %>
