<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<h1><%= @shelter.name  %></h1>

<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>

<h4><%= link_to("See All Pets at #{@shelter.name}", "/shelters/#{@shelter.id}/pets") %></h4>

<h5><%= link_to("Update Shelter", "/shelters/#{@shelter.id}/edit") %></h5>
<%= button_to("Delete Shelter", "/shelters/#{@shelter.id}", method: :delete) %>

<h3>Reviews</h3>
<h5><%= link_to('Add Review', "/shelters/#{@shelter.id}/reviews/new") %></h5>

<% @reviews.each do |review| %>
  <p>Title:   <%= review.title %></p>
  <p>Rating:  <%= review.rating %> / 5 </p>
  <p>Content: <%= review.content %></p>
  <% if review.image %>
    <p><%= image_tag(review.image) %></p>
  <% end %>
  <p>User:    <%= review.user_name %></p>
<% end %>
