<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <img src=<%= pet.image %> width="400" height="300">
  <p>Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Current Shelter: <%= pet.shelter_name(pet.shelter_id) %></p>
<% end %>
