<h5><%= link_to('Shelters Index', '/shelters') %></h5>

<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <h2><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h2>
  <img src=<%= pet.image %> width="400" height="300">
  <p>Age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Current Shelter: <%= pet.shelter_name(pet.shelter_id) %></p>
  <h4><%= link_to("Update #{pet.name}'s Information", "/pets/#{pet.id}/edit") %></h4>
  <%= button_to("Delete #{pet.name}", "/pets/#{pet.id}", method: :delete) %>
<% end %>
