<h1>Add a New Adoptable Pet</h1>

<%= form_with url: '/shelters/:id/pets', method: 'post' do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :image %>
  <%= form.text_field :image %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <%= form.label :approximate_age %>
  <%= form.text_field :approximate_age %>

  <%= form.label :sex %>
  <%= form.text_field :sex %>

  <%= hidden_field(:shelter_id, @shelter.id.to_s) %>
  
  <%= submit_tag("Add Pet") %>
<% end %>
