<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<h1><%= @pet.name %></h1>

<img src=<%= @pet.image %> width="400" height="300">
<p>Description: <%= @pet.description %></p>
<p>Age: <%= @pet.approximate_age %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Adoption Status: <%= @pet.status %></p>

<h3><%= link_to('Update Information', "/pets/#{@pet.id}/edit") %></h3>

<%= button_to('Delete Pet', "/pets/#{@pet.id}", method: :delete) %>

<h3><%= link_to("View all applications for #{@pet.name}", "/pets/#{@pet.id}/pet_applications") %></h3>
