<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<h1><%= @user.name  %></h1>

<p><%= @user.address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>

<% unless @user.reviews.empty? %>

  <h4><%= @user.name %>'s Average Review Rating</h4>
  <p><%= @user.average_review_rating.round(1) %> / 5</p>

  <section id='highlighted-reviews'>
    <h3>Highlighted Reviews</h3>
      <h4><%= @user.name %>'s Highest Rated Review</h4>
        <p>Title:   <%= @user.review_best_rating.title %></p>
        <p>Rating:  <%= @user.review_best_rating.rating %> / 5 </p>
        <p>Content: <%= @user.review_best_rating.content %></p><br>

      <h4><%= @user.name %>'s Worst Rated Review</h4>
        <p>Title:   <%= @user.review_worst_rating.title %></p>
        <p>Rating:  <%= @user.review_worst_rating.rating %> / 5 </p>
        <p>Content: <%= @user.review_worst_rating.content %></p><br>
  </section>

  <h3><%= @user.name %>'s Reviews</h3>
  <% @user.reviews.each do |review| %>
    <p>Title:   <%= review.title %></p>
    <p>Rating:  <%= review.rating %> / 5 </p>
    <p>Content: <%= review.content %></p><br>
  <% end %>
<% else %>
  <h3>User has no reviews yet</h3>

<% end %>
