<h5><%= link_to('Shelters Index', '/shelters') %></h5>
<h5><%= link_to('Pets Index', '/pets') %></h5>

<h1><%= @user.name  %></h1>

<p><%= @user.address %></p>
<p><%= @user.city %></p>
<p><%= @user.state %></p>
<p><%= @user.zip %></p>

<h4><%= @user.name %>'s Average Review Rating</h4>
<p><%= @user.average_review_rating %> / 5</p>

<h3><%= @user.name %>'s Reviews</h3>
<% @user.reviews.each do |review| %>
  <p>Title:   <%= review.title %></p>
  <p>Rating:  <%= review.rating %> / 5 </p>
  <p>Content: <%= review.content %></p><br>
<% end %>
